.gallery-container {
    overflow: hidden;
    width: 100%;
  }
  
  .gallery-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-card {
    min-width: 25%;
    box-sizing: border-box;
  }
  
  @media (max-width: 1024px) {
    .gallery-card {
      min-width: 33.33%;
    }
  }
  
  @media (max-width: 768px) {
    .gallery-card {
      min-width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .gallery-card {
      min-width: 100%;
    }
  }

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 300px; /* Puedes ajustar esto según tus necesidades */
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
  }
  
  .service-card .icon-color {
    font-size: 3rem; /* Ajusta el tamaño del icono según tus necesidades */
  }
  
  .service-card .content {
    flex-grow: 1;
  }
  
  .donate-now-btn {
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg); /* Ajuste para centrar y orientar el texto correctamente */
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
    padding: 10px 10px;
    background-color: #6EBEC3;
    color: white;
    border: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    writing-mode: vertical-rl; /* Hace que el texto aparezca verticalmente */
  }
  
  .donate-now-btn:hover {
    background-color: #6EBEC3;
  }
  